@model IEnumerable<TravelReviews.Models.Review>

@{
    ViewBag.Title = "All Reviews";
}

<h2>Reviews</h2>

<p>
    <a href="@Url.Action("Create", "Reviews")" class="btn glyph-details">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div class="row movies-index">

    @foreach (var item in Model)
    {
        <div class="col-md-4 reviews">
            <div class="thumbnail">
                <div class="caption">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>
                        @Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(modelItem => item.Author) <br />
                        Category : @Html.DisplayFor(modelItem => item.Category.Name)<br />
                        @Html.DisplayNameFor(model => model.Recommended)  @Html.DisplayFor(modelItem => item.Recommended)
                    </p>
                    <span>
                        <a href="@Url.Action("Edit", "Reviews", new { id = item.ID })" class="btn glyph">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="@Url.Action("Details", "Reviews", new { id = item.ID })" class="btn glyph">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Reviews", new { id = item.ID })" class="btn glyph">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </span>
                </div></div></div>
                    }
    </div>
 